# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Test files
testcase/